/**
 * @name gruvboxLight
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://fonts.cdnfonts.com/css/fantasque-sans-mono');

:root {
  --accentcolor: 152,151,26;
  --accentcolor2: 19,244,3;
  --linkcolor: 69,133,136;
  --mentioncolor: 244,67,54;
  --textbrightest: 124,111,100;
  --textbrighter: 124,111,100;
  --textbright: 102,92,84;
  --textdark: 80,73,69;
  --textdarker: 46,41,40;
  --textdarkest: 45, 41, 40;
  /* 60, 56, 54;*/
  --font: 'Fantasque Sans Mono'; 
  --backgroundaccent: 213,196,161;
  --backgroundprimary: 242,229,188;
  --backgroundsecondary: 235,219,178;
  --backgroundsecondaryalt: 252,241,199;
  --backgroundtertiary: 242,229,188;
  --backgroundfloating: 213,196,161;
  --settingsicons: 1;
}

/* Any custom CSS below here */


